:root {
	--trsn: all 1.5s ease 0s;
}

.grain {
	width: 100vw;
	height: 100vh;
	position: fixed;
	pointer-events: none;
}

.grain:after {
	position: absolute;
	content: "";
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	opacity: .25;
	background-image: 
		repeating-conic-gradient(var(--color-black) 0%, transparent .00003%, transparent .0005%, transparent .00095%),
		repeating-conic-gradient(var(--color-gray) 0%, transparent .00005%, transparent 0.00025%, transparent 0.0009%);
	animation: grain 1s steps(1) infinite;
	filter: drop-shadow(0px 0px 1px black);
}

@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-1%, -1%); }
	20% { transform: translate(1%, 1%); }
	30% { transform: translate(-2%, -2%); }
	40% { transform: translate(3%, 3%); }
	50% { transform: translate(-3%, -3%); }
	60% { transform: translate(4%, 4%); }
	70% { transform: translate(-4%, -4%); }
	80% { transform: translate(2%, 2%); }
	90% { transform: translate(-3%, -3%); }
}
