:root {
  --color-black: #1F0A00;
  --color-white: #FFFCEA;
  --color-gray: #A29782;
  --color-light: #CEC6AD;
}

#c2d {
  position: fixed;
  width: 100vmin;
  aspect-ratio: 1;
  /* max-width: 900px; */
  image-rendering: pixelated;
  background: var(--color-white);
  border-radius: 5%;
}

/* #c2d::before {
  content: "";
  position: absolute;
  box-shadow: 0 0 10vmin 0 var(--color-black) inset, 0 0 1vmin 0.2vmin var(--color-black) inset;
} */

html, body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  touch-action: none;
  background: var(--color-gray);
}

body {
  background: 
  linear-gradient(
    0deg,
    var(--color-black) 2%,
    transparent 2%,
    transparent 8%,
    var(--color-black) 8%,

    var(--color-black) 10%,
    /* var(--color-white) 10%,
    var(--color-white) 90%, */
    var(--color-black) 90%,

    var(--color-black) 92%,
    transparent 92%,
    transparent 98%,
    var(--color-black) 98%
  ),
  repeating-linear-gradient(
    90deg,
    var(--color-black),
    var(--color-black) 2.5%,
    transparent 2.5%,
    transparent 7.5%,
    var(--color-black) 7.5%,
    var(--color-black) 10%
  )
}

* {
  user-select: none !important;
  -webkit-user-select: none !important;
}

html {
  font-size: 20px;
}

#fps {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding: 1vh;
  font-size: 10px;
}
.hidden {
  display: none;
}